@import "partials/global/base";

@import "partials/header";

body {
  margin: 0;
  padding: 0;
  background: #000;

  color: #eee;

  .wf-inactive & {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .wf-nimbussans-n3-active & {
    font-family: "nimbus-sans";
  }

  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, #nav a {

  .wf-inactive & {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  }
  .wf-brandongrotesque-n7-active & {
    font-family: "brandon-grotesque";
  }
  font-weight: 700;
  text-transform: uppercase;
}

#header {
  color: #333;

  .wf-inactive & {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  }
  .wf-brandongrotesque-n7-active & {
    font-family: "brandon-grotesque";
  }
}

.content-wrapper {
  max-width: 822px;
  margin: 0 auto;
  padding: 1em;

  opacity: 1;
  @include single-transition(opacity, 1s);

  .wf-loading & {
    opacity: 0;
  }
}

#aurora-wrapper {
  position: relative;
}

#aurora-canvas {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}

#nav {
  // @include horizontal-list;
  @include clearfix;
  text-align: center;

  margin-top: -.3em;

  font-size: 2em;

  a {
    color: #f2006f;
    text-shadow: 3px 2px 0px shade(#f2006f, 90%);

    margin: {
      left: .8em;
      right: .8em;
      top: .15em;
      bottom: .15em;
    }
    display: inline-block;


    &:hover {
      color: tint(#f2006f, 50%);
      // text-shadow: 3px 2px 0px shade(#f2006f, 40%);
    }
  }

}

a {
  color: #ffa100;
  text-decoration: none;

  @include single-transition(color, .3s);

  &:hover {
    color: tint(#ffa100, 50%);
  }
}

.page-info {
  margin-top: -1em;
}

main.content-wrapper {

  line-height: 1.618em;

  font-size: 1em;

  @include breakpoint(447px) {
    font-size: 1.25em;
  }

  @include breakpoint(576px) {
    font-size: 1.5em;
  }


}

pre {
  font-weight: 300;
  // width: 100%;

  // p & {
  //   width: auto;
  // }

  .wf-inactive & {
    font-family: monospace;
  }
  .wf-sourcecodepro-n3-active & {
    font-family: "source-code-pro";
  }
}

code {
  background: #333;
  border-radius: 3px;

  p & {
    padding-left: .25em;
    padding-right: .25em;
  }

  &[class^="lang"] {
    width: 100%;
    display: block;
    padding: .25em .5em;
    @include box-shadow(inset 0 0 .5em rgba(black, 1));
  }
}