// Variables Partials
//
// All of your variables should go in this file.


// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// These variables are used throughout compass, but specifically within the
// compass-normalize extension.
// /
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;


// Font faces, stacks and sizes.

$base-font-size:   16px;
$base-line-height: 24px;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// Project-specific fonts
// Put any font families here that are specific to your project.


// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $georgia; // The font family set on the html element.
$font-body:        $verdana;
$font-monospace:   $courier;
$form-font-family: $arial;


//
// Colors, etc.
//

$white          : #FFFFFF;
$black          : #000000;

// Standard colors: for standard 4K and other brand colors.
// Note: these are just for reference, and some brands have multiple colors.
$color-facebook : #3B5998;
$color-twitter  : #33CCFF;
$color-youtube  : #FF3333;
$color-pinterest: #990000;
$color-skype    : #12A5F4;
$color-flickr   : #FE0883;
$color-foursquare: #8FD400;
$color-instagram: #4E433C;
$color-linkedin : #4875B4;
$color-tumblr   : #2B4964;
$color-vimeo    : #86B32D;
$color-google   : #D6492C;
$color-fk       : #66B360;


// Base color variables.
$link           : #2090B4;
$visited        : $link;
$selection-bg   : #66B360;
$selection      : $white;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 2em;


// Add Singularity responsive layout settings.
//
// Singularity allows the creation of responsive grids within your site's layout
// Go to the singularity github wiki for full implementation, and how to
// integrate it with breakpoint as well.
//
// @see https://github.com/Team-Sass/Singularity/wiki

$mobile-first         : true;
$include-border-box   : false;
$include-clearfix     : false;

$grids                : 12;
$gutters              : 1/3;




// Add breakpoint settings.
//
// Breakpoint allows us to embed media queries directly into each rule that
// needs it, rather than forcing a developer to place rules for a single
// component in multiple places depending on the media query they want to
// affect.
//
// @see https://github.com/Team-Sass/breakpoint/wiki
//
// Listed here are named breakpoints. They can vary in complexity, allowing you to
// get rid of the cognitive load behind typing and remembering media queries.
//
// @see https://github.com/Team-Sass/breakpoint/wiki/Respond-To

// $sample-breakpoints: "small-ish" (300px),
//                      "medium-ish" (460px),
//                      "large-ish" (770px),
//                      "extra-large-ish" (1000px);


$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

$breakpoints: '';