#header {
  background: #fef9ef;

  @include box-shadow(0 0 2em rgba(black, 1), inset -1px -1px .75em rgba(black, .75));
  @include clearfix;

  h1 {
    margin: 0;
  }

  $grid: ratio(golden(), 2);
  $grid: nth($grid, 2) nth($grid, 1);
  @include breakpoint(594px) {
    @include layout($grid, 1/3) {

      h1 {
        @include grid-span(1, 1);
      }

      h2 {
        margin: 0;
      }

      aside {
        text-align: right;
        @include grid-span(1, 2);
      }

    }
  }
}