/**
 * A Sass partial to replace the Drupal 7 core css.
 *
 * Note: This is as of yet incomplete, and therefore we are not adding it
 *   by default within the css files.
 */

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;

  &.element-focusable:active,
  &.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
  }
}


