////////////////////////
// Maintenance Page File
//
// This file gets turned into maintenance.css.
// We keep is separate so that you may have custom CSS on the maintenance
//  page if you so wish, and not include your full site's css.
////////////////////////

////////////////////////
// Base Import
////////////////////////
@import 'partials/base';

////////////////////////
// Other partial import
////////////////////////
@import 'partials/global/global';


// Code specifically for the maintenance page.

.maintenance-page {

  // Specifically if the db cannot be reached.
  &.db-offline {

  }

}
