extends layouts/_layout

block header
  mixin header("Home")

block content
  article
    h1 Aurora
    :markdown
      Aurora is an HTML5, [Sass](http://sass-lang.com) and [Compass](http://compass-style.org) powered minimalist base theme. It is optimized for both responsive and mobile first web design. Built to encourage best modern front end practices, Aurora comes with [Bower](http://bower.io/), [LiveReload](http://livereload.com/), [Google Chrome Frame](https://developers.google.com/chrome/chrome-frame/), and [Typekit](https://typekit.com/) integrations, with [Grunt](http://gruntjs.com/) integration on the near-term roadmap. It also suggests and recommends Drupal modules to get the most out of both Aurora and out of Drupal. All of the optimizations and integrations in Aurora are designed to be there only when you need them and get out of your way when you don't.