<!DOCTYPE html><!--[if lt IE9]><html class="no-js lte-ie8" lang='en'><![endif]-->
<!--[if gte IE9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <title>Aurora Documentation</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <script src="/components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div id="header" class="page-wrapper">
      <header class="content-wrapper">
      </header>
    </div>
    <div id="nav" class="page-wrapper">
      <div class="content-wrapper">
        <nav class="main-nav">
          <ul>
            <li><a href="/" title="Home">Home</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="main" class="page-wrapper">
      <main class="content-wrapper">
      </main>
    </div>
    <div id="footer" class="page-wrapper">
      <footer class="content-wrapper">
      </footer>
    </div>
    <script src="/components/chibi/chibi-min.js"></script>
  </body>
</html>