extends ../layouts/_layout

block header
  mixin header("Features")

block content
  article
    section#basic
      h1 Basic Features

      :markdown
        Aurora has a handful of useful features allowing you to get up and theming quickly. Many of the features from Aurora 2.x have been moved to the [Magic module](http://drupal.org/project/magic), so be sure to install Magic to get the most out of Aurora.

        ## HTML5 Templates

        Aurora comes with many of Drupal's default templates updated to use the proper HTML5 syntaxes as well as proper ARIA roles. It also comes with an HTML5 Figure layout for [Display Suite](http://drupal.org/project/ds) and an HTML5 Sections layout for [Panels](http://drupal.org/project/panels) which is a fork of the Flexible layout, but only allowing for rows, thus allowing for source ordering and grouping. The Panels Sections layout produces much cleaner default HTML than then Flexible layout, and you can edit the attributes of the output with the following hook:

        ```php
        hook_aurora_layout_attributes_alter(&$attributes)
        ```

        ## Internet Explorer Support

        Old Internet Explorer support is a pain. Aurora comes with a couple of ways of making it easier. A dropdown menu allows you to choose your minimum supported IE version, which will add an `.lt-ie{version}` to your HTML for versions of IE less than your supported version of IE. A checkbox will also allow you to enable or disable [Google Chrome Frame](https://www.youtube.com/watch?v=sjW0Bchdj-w&feature=player_embedded), which itself is wrapped to display only below your minimum supported version of IE.

        ## Development Options

        A select box will allow you to add the [LiveReload](http://livereload.com/) JavaScript snippet to all of your pages, allowing you to have your site automatically reload on changes. This is very useful for designing in browser.

        ## Typekit Integration

        We love web fonts, yes we do! We love web fonts, how 'bout you?! Aurora comes with built-in support for [Typekit](https://typekit.com/). Simply add your Typekit's Kit ID into the Typekit settings and Aurora automatically adds in the advanced, asymmetric font loading code for your kit.

        ## Miscellaneous

        Aurora also has an option to prune your `<style>`, `<link>`, and `<script>` tags as suggested by [Nathan Smith](http://sonspring.com/journal/html5-in-drupal-7#_pruning).

    section#advanced
      h1 Advanced Features

      :markdown
        Aurora comes with some advanced features that you need to install separately if you would like to use. These features will greatly improve your development experience, so we encourage you to use them.

        ## Bower

        If you would like to take advantage of Bower integration, first make sure you have [installed Bower](../install), then from your command line, type the following in:

        ```bash
        compass install aurora/bower
        ```

        This will install a `components.json` file as well as a `.bowerrc` file to allow you to use Bower out of the box. Aurora's provided `components.json` includes a [Formalize](http://formalize.me/) dependency for added normalization across browsers. To install it, from your command line, type the following in:

        ```bash
        bower install
        ```

        ## Grunt

        If you would like to take advantage of the Grunt integration, first make sure you have [installed Grunt](../install), then from your command line, type the following in:

        ```bash
        compass install aurora/grunt
        ```

        This will install a `Gruntfile.js` file as well as a `package.json` file to manage your Grunt dependencies. The build of Grunt Aurora comes with handles a handful of very useful functions depending on whether you `watch` or `build`.

        To install the Grunt dependencies, from your command line, type the following in:

        ```bash
        npm install
        ```

        ### Watch Task

        ```bash
        grunt watch
        ```

        While you're developing, it's useful to have your Sass compile on the fly and reload your browser. The watch task will automatically compile your Sass files for you, including running everything through `bundle exec`, will [JSHint](http://jshint.com/) your JavaScript files for you, run a LiveReload server, and reload your browser for you whenever your Sass or JavaScript changes! To take advantage of the Grunt LiveReload server, set your LiveReload setting to `Aurora Default Port`.

        ### Build Task

        ```bash
        grunt build
        ```

        When you're ready for production, it's time to get your files in tip-top shape. The build task will compile your Sass for production, run your images through [OptiPNG](http://optipng.sourceforge.net/) and [jpegtran](http://jpegclub.org/jpegtran/) to optimize them, ensure your Sass image paths are pointing to the optimized images (assuming you're using `image-url`), and give your JavaScript one final pass through JSHint.
