extends ../layouts/_layout

block header
  mixin header("Features")

block content
  article
    section
      h1 Features

      :markdown
        Aurora has a handful of useful features allowing you to get up and theming quickly. Many of the features from Aurora 2.x have been moved to the [Magic module](http://drupal.org/project/magic), so be sure to install Magic to get the most out of Aurora.

        ## HTML5 Templates

        Aurora comes with many of Drupal's default templates updated to use the proper HTML5 syntaxes as well as proper ARIA roles. It also comes with an HTML5 Figure layout for [Display Suite](http://drupal.org/project/ds) and an HTML5 Sections layout for [Panels](http://drupal.org/project/panels) which is a fork of the Flexible layout, but only allowing for rows, thus allowing for source ordering and grouping. The Panels Sections layout produces much cleaner default HTML than then Flexible layout, and you can edit the attributes of the output by calling `hook_aurora_layout_attributes_alter(&$attributes)`.

        ## Internet Explorer Support

        Old Internet Explorer support is a pain. Aurora comes with a couple of ways of making it easier. A dropdown menu allows you to choose your minimum supported IE version, which will add an `.lt-ie{version}` to your HTML for versions of IE less than your supported version of IE. A checkbox will also allow you to enable or disable [Google Chrome Frame](https://www.youtube.com/watch?v=sjW0Bchdj-w&feature=player_embedded), which itself is wrapped to display only below your minimum supported version of IE.

        ## Development Options

        A simple checkbox will add or remove the [LiveReload](http://livereload.com/) JavaScript snippet, allowing you to have your site automatically reload on changes. This is very useful for designing in browser. Currently, you need LiveReload set up, it is on our [roadmap](../roadmap) to get rid of this need.

        ## Typekit Integration

        We love web fonts, yes we do! We love web fonts, how 'bout you?! Aurora comes with built-in support for [Typekit](https://typekit.com/). Simply add your Typekit's Kit ID into the Typekit settings and Aurora automatically adds in the advanced, asymmetric font loading code for your kit.

        ## Miscellaneous

        Aurora also has an option to prune your `<style>`, `<link>`, and `<script>` tags as suggested by [Nathan Smith](http://sonspring.com/journal/html5-in-drupal-7#_pruning).