////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really hold nothing except for imports of your base, style guide, layout, and design partials.
////////////////////////

//////////////////////////////
// Legacy Support Setup
//////////////////////////////
$graceful-usage-threshold:    1         !default;
$critical-usage-threshold:    0.1       !default;
$browser-minimum-versions:    (ie: '9') !default;

////////////////////////
// Base Import
////////////////////////
@import 'partials/global/base';

////////////////////////
// Import Style Guide
////////////////////////
@import 'partials/styleguide/style-guide';

////////////////////////
// Import Layout
////////////////////////
@import 'partials/layout/layout';

////////////////////////
// Import Design
////////////////////////
@import 'partials/design/design';

////////////////////////
// Import Print
////////////////////////
@import 'print';
